<div
  class="sidebar"
  data-color="green"
  data-background-color="white"
  data-image="../assets/img/sidebar-1.jpg"
>
  <div class="logo">
    <a href="/" class="simple-text logo-normal">
      Học viện kỹ thuật quân sự
    </a>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      <li class="nav-item <%= active_class('home', 'index') %>">
        <a class="nav-link" href="/">
          <i class="fas fa-chart-line"></i>
          <p>Dashboard</p>
        </a>
      </li>
      <li class="nav-item
                  <%= active_class('roles', 'index') %>
                  <%= active_class('roles', 'edit') %>
                  <%= active_class('roles', 'new') %>">
        <a class="nav-link" href="/roles">
          <i class="fas fa-flag"></i>
          <p>Quản lý chức vụ</p>
        </a>
      </li>
      <li class="nav-item
                  <%= active_class('users', 'index') %>
                  <%= active_class('users', 'edit') %>
                  <%= active_class('users', 'new') %>">
        <a class="nav-link" href="/users">
          <i class="fas fa-users-cog"></i>
          <p>Quản lý quản trị viên</p>
        </a>
      </li>
      <li class="nav-item <%= active_class('permissions', 'index') %>">
        <a class="nav-link" href="/permissions">
          <i class="fas fa-user-times"></i>
          <p>Quản lý ủy quyền</p>
        </a>
      </li>
      <li class="nav-item
                  <%= active_class('subjects', 'index') %>
                  <%= active_class('subjects', 'edit') %>
                  <%= active_class('subjects', 'new') %>">
        <a class="nav-link" href="/subjects">
          <i class="fas fa-book"></i>
          <p>Quản lý môn học</p>
        </a>
      </li>
      <!-- <li class="nav-item  <%#= active_class('users') %>">
        <a class="nav-link" href="/users">
          <i class="material-icons">person</i>
          <p>ユーザー</p>
        </a>
      </li>
      <li class="nav-item  <%#= active_class('coupons') %>">
        <a class="nav-link" href="/coupons">
          <i class="material-icons">confirmation_number</i>
          <p>クーポン</p>
        </a>
      </li>
      <li class="nav-item  <%#= active_class('reviews') %>">
        <a class="nav-link" href="/reviews">
          <i class="material-icons">rate_review</i>
          <p>レビュー</p>
        </a>
      </li>
      <li class="nav-item <%#= active_class('orders') %>">
        <a class="nav-link" href="/orders">
          <i class="material-icons">receipt</i>
          <p>オーダー</p>
        </a>
      </li>
      <li class="nav-item <%#= active_class('products') %>">
        <a class="nav-link" href="/products">
          <i class="material-icons">category</i>
          <p>商品</p>
        </a>
      </li>
      <li class="nav-item <%#= active_class('news') %>">
        <a class="nav-link" href="/news">
          <i class="material-icons">menu_book</i>
          <p>ニュース</p>
        </a>
      </li>
      <li class="nav-item <%#= active_class('inquiries') %>">
        <a class="nav-link" href="/inquiries">
          <i class="material-icons">description</i>
          <p>問い合わせ</p>
        </a>
      </li>
      <li class="nav-item <%#= active_class('articles') %>">
        <a class="nav-link" href="/articles">
          <i class="material-icons">note_add</i>
          <p>記事</p>
        </a>
      </li> -->
    </ul>
  </div>
</div>
